<head>
  <meta charset="utf-8">
  <script type="module" src="./web.js"></script>
  <style>fieldset > li{ margin: 1rem; } header{ font-size: x-small; }</style>
  <title>What City?</title>
</head>

<h1>Select cities matching a given number of inhabitants</h1>

<header>
Data from <a href="https://unstats.un.org/unsd/demographic-social/products/dyb/dyb_2017/">UNstats - Table 8 - Population of capital cities and cities of 100 000 or more inhabitants: latest available year, 1998-2017</a> [<a href="https://unstats.un.org/unsd/demographic-social/products/dyb/documents/dyb2017/table08.xls">download</a>] from 3.887 cities.
</header>


<form>
  <fieldset>
  <li>
    <label for="number" title="Mandatory">Number</label>
    <input type="text" id="number" size="10" autofocus placeholder="500000, 1M, 300k, ..."><span style="color:red">*</span>
  </li>

  <li>
    <label for="margin" title="Percent value between 1 and 99">Error-margin</label>
    <input type="number" id="margin" value="5" min="1" max="99" style="width: 3rem;">%
  </li>

  <li>
    <label for="filter" title="Any case-insensitive expression found within country or continent. JS regexp supported.">Filter</label>
    <input type="text" id="filter" placeholder="in, Europe, bra, kingdom...">
  </li>
</fieldset>
</form>

<br/>

<div>
  <table border="1">
    <thead>
      <tr><th>Number of inhabitants ▴▾</th><th>Place ▴▾</th>
    </thead>
    <tbody id="results">
    </tbody>
  </table>
</div>
